/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*MY CODE*/

*{
  text-decoration : none;
}

body {
  background-color: #f3f3f3;
  font-family: 'Catamaran', sans-serif;
}

header{
  background-color : #fff;
  width : 100%;
  height : 90px;

}

header .header-brand{
  font-family : Catamaran;
  font-size : 24px;
  font-weight : bold;
  color : #111;
  text-transform : uppercase;
  display : block;
  margin : 0 auto;
  text-align : center;
  padding : 20px 0;
}

header nav ul {
  display : block;
  margin : 0 auto;
  width : fit-content; /* width = 100% or center of the content on the phone screen; */
}

header nav ul li {
  /*display : inline-block;*/
  float : left;
  list-style: none;
  padding : 0 16px;
}

header nav ul li a {
  font-family : Catamaran;
  font-size : 16px;
  color : #111;
  text-transform: uppercase;
}

header .header-cases{
  display: none;
}

@media only screen and (min-width: 1000px){
  header .header-brand{
    margin : 30px 0;
    text-align : left;
    padding : 0px 20px 0 40px;
    border-right :3px solid #111;
    float : left;
    line-height : 38px;
  }

  header nav ul {
    float : left;
    margin : 20px 40px;
  }
  
  header nav ul li a {
    line-height : 60px;
  }

  header .header-cases{
    display: block;
    font-family : Catamaran;
    font-size : 16px;
    color : #111;
    text-transform: uppercase;
    line-height : 24px;
    border: 1px solid #111;
    float : right;
    margin : 34px 40px;
    padding: 8px 20px;
  }
}

/*index*/

main{
  width : 100%;
  height : auto;
  background-color : #fff;
  padding : 20px 0;
}

.index-banner {
  width : 100%;
  height :calc(100vh - 5px) ;
  background-image : url('assets/img/header-banner.jpg');
  background-repeat : no-repeat;
  background-position : center;
  background-size : cover;
}

.vertical-center {
  padding: 150px 0 130px;
  display : table-cell;
  vertical-align : middle;
}

.index-banner h2 {
  font-family : Catamaran;
  font-size : 50px;
  font-weight : 900;
  line-height :70px;
  color : #fff;
  text-align : center;
  text-shadow : 2px 2px 8px #111;
}

.index-banner h1 {
  font-family : Catamaran;
  font-size : 28px;
  font-weight : 200;
  font-style: italic;
  line-height :40px;
  color : #fff;
  text-align : center;
  text-shadow : 2px 2px 8px #111;
}

.index-links div{
  margin : 16px 16px 0;
  width : clac(100% - 32px);
  height : 100px;
  background-color : #ccc4c4;
}


.index-links div h3 {
  font-family : Catamaran;
  font-size : 28px;
  font-weight : bold;
  line-height :100px;
  color : #111;
  text-align : center;
  text-transform : uppercase;
}

@media only screen and (min-width: 1000px){

  .wrapper{
    width : 1000px;
    margin : 0 auto;

  }

  .index-banner {
    width : 100%;
    height : 500px ;
    display: table;
  }
  
  .index-banner h1 {
    display: block;
    width : 560px;
    margin : 0 auto;
  }

  .index-links{
    overflow : hidden;
  }

  .index-links div{
    margin : 20px 10px 0;
    height : 230px;
    background-color : #ccc4c4;
    float : left;
  }

  .index-boxlink-square{
    width: calc(25% - 20px) !important;
  }

  .index-boxlink-rectangle{
    width : calc(50% - 20px) !important;
  }

  .index-links div h3 {
    line-height: 230px;
  }
}

/*footer*/
footer {
  width : calc(100% - 80px) ;
  height : 100%;
  padding : 40px 40px;
  background-color : rgb(97, 95, 95);
  overflow : hidden;
}

footer ul {
  width : fit-content;
  float : left;
  padding : 10px 20px;

}

footer ul li {
  display : block;
  list-style: none;

}

footer ul li a {
  font-family : Catamaran;
  font-size : 20px;
  color : #fff;
  line-height : 30px;
  text-transform: uppercase;

}

.footer-links-cases {
  display : none ;
}

.footer-sm {
  width : 40px;
  float : right;

}

.footer-sm img{
  width : 100%;
  
}

@media only screen and (min-width: 1000px){
  .footer-links-cases {
    display : block ;
  }

  footer ul{
    padding-right: 30px;
  }
  
}